<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand nav-link" routerLink="/home">
    <img src="../../assets/images/logos/logo.png" width="70" height="30" class="d-inline-block align-top" alt="">
    Rent-a-Car
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cars">Cars</a>
      </li>
      <!-- <li class="nav-item"> -->
     <li class="nav-item" *ngIf='visible'> 
        <a class="nav-link" routerLink="booking">Manage my Booking</a>
      </li>
      <!-- <li class="nav-item"> -->
       <li class="nav-item" *ngIf='visible'>
        <a class="nav-link" routerLink="manageUsers">Manage users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="help">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a routerLink="/login"><i class="fas fa-user fa-2x"></i></a>
    </form>
    <form class="form-inline my-2 my-lg-0">
      <a routerLink='/home'><i (click)="logOut()" class="fa fa-sign-out fa-2x" style="color: white"></i></a>
    </form>
  </div>
</nav>
