<div class="jumbotron">
  <tabset>
    <tab heading={{tabTitle}} id="tab1">
      <div *ngIf="reservationExists; else noReservation">
        <carousel id="carModalSlideShow">
          <slide *ngFor="let image of reservationInfo.car.imgUrls">
            <img [src]="image" style="display: block; width: 100%;">
          </slide>
        </carousel>
        <hr>
        <div>
          <h3><b>Description:</b></h3>
          <p> {{reservationInfo.car.description}} </p>
          <h3><b>Start date:</b></h3>
          <p> {{reservationInfo.startDate}} </p>
          <h3><b>End date:</b></h3>
          <p> {{reservationInfo.endDate}} </p>
          <h3><b>Car year:</b></h3>
          <p>{{reservationInfo.car.year}}</p>
          <hr>
          <h3><b>Total price: {{reservationInfo.totalPrice | currency}}</b></h3>
          <button class="btn btn-info" (click)="onConfirmClick()">Confirm</button>
        </div>
      </div>
      <ng-template #noReservation>
        <h3> You don't have active reservation! </h3>
      </ng-template>
    </tab>
    <tab heading="Recent bookings">Basic content 2</tab>
  </tabset>
</div>
